* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: #1a1a1a;
  color: #ddd;
  font-size: 1.25em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding: 1rem;
  margin: auto;
  max-width: 55rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

section {
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

a, a:hover, a:active, a:focus, a:visited {
  color: inherit;
  font-weight: normal;
  white-space: nowrap;
}

img {
  margin: 1rem 0;
  max-width: 100%;
}

.intro {
  color: #aaa;
  font-size: 0.5em;
  text-transform: uppercase;
  margin-bottom: -1rem;
}

.subheading {
  color: #aaa;
  margin-top: -1.25rem;
}

.word-marker {
  font-weight: bold;
  white-space: nowrap;
}
