* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #7b7c76;
  font-weight: lighter;
  height: 100vh;
  padding: 1rem;
  width: 100vw;
}

a, a:hover, a:active, a:focus, a:visited {
  color: inherit;
  text-decoration: none;
}

.profiles {
  font-size: 1.25em;
  letter-spacing: 0.125em;
  list-style-type: none;
  margin: 0.75em 0;
  padding: 0;
}

.profiles li {
  color: #333;
  line-height: 1.25em;
  margin: 0.2em 0;
}

.profiles li:before {
  color: #7b7c76;
  content: '~>';
  letter-spacing: 0;
  margin-right: 0.75em;
}

.description {
  color: #333;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 0.0625em;
  margin: 0;
}

.word-marker {
  font-weight: bold;
  white-space: nowrap;
}

@media (min-width: 50em) {
  .profiles {
    font-size: 1.875em;
  }

  .description {
    font-size: 2em;
  }
}
