* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background: url('bg.jpg') center center;
  background-color: #fff;
  background-size: cover;
  color: #000;
  font-size: 1.25em;
  font-weight: lighter;
  height: 100vh;
  letter-spacing: 0.125em;
  line-height: 1.5em;
  padding: 1rem;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

section {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

a, a:hover, a:active, a:focus, a:visited {
  border-bottom: 0.125rem solid #fff;
  color: inherit;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.word-marker {
  font-weight: bold;
  white-space: nowrap;
}
